:root {
  --base-font: 'Merriweather', serif;
  --secondary-font: 'Libre Franklin', sans-serif;
  --tertiary-font: font-family: 'Maitree', serif;

  --footer-height: 300px;

  --primary-color: #9E7676;
  --secondary-color: #815B5B;
  --alt-color: #FFF8EA;

  font-family: var(--tertiary-font) !important;

  @media (max-width: 768px) {
    --footer-height: 150px;

  }

}

p {
  font-family: var(--tertiary-font) !important;
}

h1 {
  font-family: var(--base-font) !important;
}


.month-container {
  min-height: 200px;
  font-family: var(--secondary-font) !important;
  font-size: 1.5rem;
  .content-event-paragraph {
    font-size: 1rem;
  }
  .image-container {
    margin-bottom: 1rem;
  }
}

#content {
  padding-bottom: var(--footer-height);
}

#sticky-footer {
  width: 50%;
  margin: auto;
  height: var(--footer-height);
  position: relative;
  @media (max-width: 768px) {
    width: 75%;

  }
}

#sticky-footer-container {
  height: var(--footer-height);
  border-top: 3px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  h3 {
    text-align: center;
  }
}

.character {
  position: absolute;
  top: 10%;
  left: 0;
  .newCharacterLabel {
    text-align: center;
  }
  @media (max-width: 768px) {
    top: 5%;
  }
  img {
    width: 170px;
    height: 170px;
    object-fit: scale-down;

  }
  @media (max-width: 768px) {
    img {
      width: 75px;
      height: 75px;
    }
  }
}

.content-event {
  position: relative;
  border-left: 2px solid var(--primary-color);
  padding: 40px;
  padding-left: 30px;
  margin-left: 10px;
  p {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px 0px var(--secondary-color);
    box-shadow: 3px 3px 0px var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    left: -17px;
    top: 40px;
  }
  img {
    max-width: 700px;
    height: 300px;
    margin: 20px;
  }
  @media (max-width: 768px) {
    img {
      max-width: 250px;
      height: auto;

    }
  }
}

#character-counter {
  position: fixed;
  top: 0;
  right: 0;
  &::after {
    content: attr(data-characters-present);
  }
}

body {
  background-color: var(--alt-color);
}