.month-container {
  min-height: 200px;
}

.character {
  position: fixed;
  top: 15%;
  right: 0;
  .newCharacterLabel {
    text-align: center;
  }
  img {
    width: 120px;
    height: 120px;
    object-fit: scale-down;
  }
}

.content-event {
  img {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
  }
}

#character-counter {
  position: fixed;
  top: 0;
  right: 0;
  &::after {
    content: attr(data-characters-present);
  }
}